/* Login */
.divForm{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.error{
  background: #ccc;
  color: red;
  font-size: 1rem;
  width: 200px;
  height: 18px;
  font-weight: bold;
  text-align: center;
}


.inputLogin{
  padding: 15px;
  width: 400px;
  border-radius: 5px;
  border: 1px solid black;
}

.buttonLogin{
  background: none;
  border-radius: 4px;
  padding: 15px;
  border: 1px solid black;
  margin-left: 15px;
  cursor: pointer;
  width: 75px;
  font-size: .75rem;
}

/* Busca */

.busca{
  display: flex;
  gap: 50px;
  justify-content: center;
  margin-top: 15px;
  flex-wrap: wrap;
}

.busca div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width:33%;
}

.busca select{
  padding: 10px;
  width: 250px;
}


/*PlayerList*/

.playerList{
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 5px;
}

/*PlayerCard*/
.playerCard{
  border: 2px solid black;
  border-radius: 15px;
  width: 350px;
  min-height: 155px;
  max-height: 155px;
  display: flex;
}

.playerCard p {
  font-size: 1rem;
  font-weight: bold;
}

.playerCard img{
  max-width: 45%;
  min-width: 45%;
  transform: scale(.85);
  border: 1px solid black;
  border-radius: 5px;
}

.cardInfos{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.noLineup{
  width: 100%;
  font-size: 1.5rem;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.infos{
  display: flex;
  justify-content: center;
  align-items: center;  
}

.infos th{
  border: 2px solid black;
  padding: 5px;
}

.infos td{
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}

body{
}